<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="ylsoft.com.identification_card_identify">
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
            android:theme="@style/AppTheme">
        <activity android:name="com.baidu.ocr.demo.IDCardActivity"
            android:label="@string/idCardLabel">
        </activity>
        <activity android:name="com.baidu.ocr.ui.camera.CameraActivity"/>
    </application>
</manifest>
